/*Estilo Do Background*/
title {
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

html, body {
    height: 100%;
}

body {
    background: #88A5B0;
    overflow: hidden; 
}

svg {
    height: 95vh;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#top, #bottom, #left, #right {
    background: rgba(32, 46, 87, 0.75);
    position: fixed;
}

#left, #right {
    top: 0;
    bottom: 0;
    width: 10px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#top, #bottom {
    left: 0;
    right: 0;
    height: 10px;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

/*Estilo Das Materias*/

.matematica {
    fill: rgb(1, 61, 125);
    -ms-width: 120px;
    width: 120px;
    -ms-height: 80px;
    height: 80px;
}

.conhecimento_adicional {
    fill: rgb(1, 182, 156);
    width: 120px;
    height: 80px;
}

.probabilidade {
    fill: rgb(6, 142, 208);
    width: 120px;
    height: 80px;
}

.ciencia_de_dados {
    fill: rgb(54, 187, 237);
    width: 120px;
    height: 80px;
}

.programacao {
    fill: rgb(28, 141, 116);
    width: 120px;
    height: 80px;
}

.complementar {
    fill: rgb(9, 47, 79);
    width: 120px;
    height: 80px;
}

.eletiva {
    fill: rgb(1, 182, 156);
    width: 120px;
    height: 80px;
}

.obligatorio {
    fill: rgb(1, 182, 156);

}

.ciencias_generales {
    fill: rgb(235, 249, 255);

}
.humanidades {
    fill: rgb(210, 243, 255);

}

.proyectos {
    fill: rgb(90, 213, 255);

}
.cs {
    fill: rgb(154, 229, 255);

}

.en {
    fill: rgb(150, 210, 170);

}

.gestion {
    fill: rgb(210, 243, 255);
}

.tcc {
    fill: rgb(206, 232, 245);
    width: 120px;
    height: 80px;
}

.EL{
    fill: lightgrey;
}

.title{
    fill: white;
    text-anchor: middle;
    vertical-align: central;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.light_text {
    fill: #164561;
    text-anchor: middle;
    vertical-align: central;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.dark_text {
    fill: rgb(9, 47, 79);
    text-anchor: middle;
    vertical-align: central;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

/*Interactions*/

.mouse_over {
    stroke: black;
    stroke-width: 7px;
    stroke-linecap: round;
    
    transform: translate(-10px,-10px);
    width: 140px;
    height: 100px;
}

.pointer {
    cursor: pointer;
}

#botao {
    fill: #068A88;
    stroke: black;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.linha {
    stroke: black;
    stroke-width: 3px;
    stroke-linecap: round;
    opacity: 1;
}

#horas {
    stroke: rgb(131, 129, 129);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    stroke-width: 1px;
    font-weight: lighter;
}

#driver {
    --x: 30px;
    --y: 90px;
    transform: translate(var(--x), var(--y));
}

#button {
    --bx: 30px;
    --by: 90px;
    transform: translate(var(--bx), var(--by));
}


.quantityClass {
    font-weight: normal; 
    fill: rgb(71, 70, 70); 
    font-size: 14px;
}